.imageLink {
  display: block;
}

.imageLink:not(:last-child) {
  margin-bottom: 12px;
}

.image {
  display: block;
  width: 100%;
  border-radius: var(--border-radius-normal);
}

.author {
  display: block;
  margin: 12px 0;
  font-size: 24px;
  font-weight: 700;
}

.tags {
}

.tagItem {
}
