.searchbar {
  display: flex;
  align-items: stretch;
  gap: 4px;
}

.input::-webkit-search-cancel-button,
.input::-webkit-search-decoration,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  appearance: none;
  -webkit-appearance: none;
}

.button {
  height: auto;
  min-width: auto;
}
