.list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: var(--image-size);
  gap: 12px 15px;
}

@media (max-width: 1500px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 1150px) {
  .list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 790px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 540px) {
  .list {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: auto;
  }
}