.container {
  width: 100%;
  position: relative;
}

.options {
  position: absolute;
  top: calc(100% + 8px);
  left: 0;
  right: 0;
  padding: 12px;
  max-height: calc(12em + 24px);
  overflow-y: auto;

  background-color: var(--color-input-background-secondary-focus);
  border-radius: var(--border-radius-normal);
  z-index: 99;
}

.optionsItem {
  display: block;
  width: 100%;
  text-align: left;
}
