.header {
  background-color: #1b1b1b;
  margin-bottom: 20px;
  color: #fff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  height: 64px;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.searchbarBox {
  max-width: 450px;
  width: 100%;
}

.controls {
  display: flex;
  gap: 4px;
}
